* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 15vh;
}

.header {
  margin-bottom: 15px;;
}

.input {
  height: 30px;
  width: 80px;
}

.inputText {
  width: 200px;
  margin-left: 10px;
}

.addBtn {
  border: none;
  background-color: transparent;
  margin-left: 10px;
  font-weight: bold;
}

.itemsDiv {
  display: grid;
  gap: 8px;
  grid-template-columns: 1;
  grid-template-rows: auto;
}